/*  your css code here. If applicable */

body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
          
        }

.center-text{
	color:purple;
}
.center-box{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
}